.empreendedores {
    background-color: $color-secondary;
    grid-column: col-strat 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sod {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}
.features {
    grid-column: center-start / center-end;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:6rem;
}
.story {
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
    }
    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
    }
}
.projetos{
    grid-column: center-start / center-end;
}
.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;
}